/*---news---*/
div.news
{
	background-image:url('../image/bg3.png');
	width:600px;
	margin:auto;
	border:3px black double;
	margin-bottom:20px;
}

div.titre_news
{
	border-bottom:1px #900000 solid;
	padding:5px;
}

div.contenu_news
{
	padding:20px;
}